
.idea/iGEM-Phage-Modelling.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.idea/vcs.xml

.ipynb_checkpoints/Working DDE example from PyDDE-checkpoint.ipynb

Archive/iGEM Campbell.ipynb

*.pdf
